.login-container{
    background: url('/static/img/fondos/fondo1.png') no-repeat;
    background-size: auto auto;
    background-size: cover;
}

.logo{
    width:200px;
    margin-bottom:50px;

}
.login-form {
    top:100px;
    background: rgba(255,255,255,0.6);
}

.form-control-feedback {
    top: 9px;
}