{% load staticfiles %}
{% load customtags %}
{% load sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oritec SpA</title>

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,400,700|Raleway:100,400,500,700|Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700|Work+Sans:300,400,600" rel="stylesheet">

        <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">

        <!-- Local stylesheets -->
        {% block css  %}
        {% endblock %}

        {% render_block "widget-css" %}

    </head>

    <body>

    {% include 'navbar.html' %}

    {% include 'menu.html' %}

    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper" id="contenido">
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    <!-- /global js -->
    <script src="{% static 'assets/js/plugins/loaders/pace.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/js/plugins/ui/nicescroll.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/ui/drilldown.js' %}" type="text/javascript"></script>
    <!-- /animaciones principaljs -->
    <script src="{% static 'assets/js/plugins/velocity/velocity.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/velocity/velocity.ui.min.js' %}" type="text/javascript"></script>
    <!-- /gráficos principaljs -->
    <script src="{% static 'assets/js/plugins/visualization/d3/d3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/visualization/d3/d3_tooltip.js' %}" type="text/javascript"></script>


    <script src="{% static 'assets/js/plugins/sliders/nouislider.min.js' %}" type="text/javascript"></script>
    <!-- /formato  fechas y horas -->
    <script src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/moment.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}" type="text/javascript"></script>

    {% block javascript_include %}

    {% endblock %}

    {% render_block "widget-javascript_include" %}

    <script>
        {% block javascript %}

        {% endblock %}

        {% render_block "widget-javascript" %}
    </script>

    <script>
        jQuery(document).ready(function() {
            {% for id in cont.menu %}
                {% if forloop.first %}
                    $('.active.open.start').removeClass("active");
                    $('#{{ id }}').addClass("active");
                    //console.log('{{ id }}')
                {% else %}
                    $('#{{ id }}').addClass("active");
                    //console.log('{{ id }}')
                {% endif %}
            {% endfor %}

            {% block jquery %}
            {% endblock %}
            {% render_block "widget-jquery" %}
            {% if messages %}
                {% for message in messages %}
                    //toastr["{{ message.tags }}"]("{{ message }}");
                    new PNotify({
                        //title: '{{ message }}',
                        text: '{{ message }}',
                        addclass: 'bg-{{ message.tags }}'
                    });
                {% endfor %}
            {% endif %}
        });
    </script>
    </body>
</html>